@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.light-theme {
  --primary-color: white;
  --secondary-color: black;
}

.dark-theme {
  --primary-color: black;
  --secondary-color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
}

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  display: block;
  background-color: var(--primary-color);
}

.header p {
  font-weight: bold;
  display: inline-block;
  padding: 1rem;
}

.header p:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.text {
  font-weight: 500;
  font-size: 1.2rem;
}

p, a {
  text-decoration: none;
  color: var(--secondary-color);
  margin: 0;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5rem 1.6rem 1.6em 1.6rem;

}

@media only screen and (min-width: 600px) {
  .main {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    width: 33.3%;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    width: 25%;
  }
}

#name {
  margin-top: 1rem;
}

#introduction {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

#title-picture {
  width: 70%;
  height: 30%;
  border-radius: 50%;
}

.social-icons {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%
}

.icon {
  width: 1.5rem;
}

.icon:hover {
  transform: scale(1.2);
  opacity: 0.6;
}

.main-links {
  width: 100%;
  height: auto;
}

#portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  background-image: url(images/portfolio.jpg);
  border-radius: .5rem;
  opacity: 0.8;
}

#portfolio p {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

#portfolio:hover {
  transform: scale(1.05);
  opacity: 0.6;
}

#map {
  border-radius: .5rem;
  margin: 1rem;
  height: 10rem;
  width: 100%;
}

#map:hover {
  transform: scale(1.05);
  opacity: 0.6;
}

.contact {
  margin: 1rem;
  width: 100%;
}

.border-flip {
  display: inline-block;
  padding: 15px;
  width: 100%;
  height: 4rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background: none;
} 
 
.border-flip::before {
  content: "";
  position: absolute;
  inset: 0px;
  transform: perspective(350px) rotateX(0deg);
  transition: all 0.35s ease 0s;
} 
 
.border-flip:hover::before {
  transition: all 0.35s ease 0s;
  transform: perspective(350px) rotateX(-180deg);
} 
 
.border-flip--black {
  color: var(--secondary-color);
} 
 
.border-flip--black::before {
  border: 3px solid var(--secondary-color);
  border-radius: .5rem;
} 
 
.btn {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
} 
 
.btn:hover .btn-slide-show-text1 {
  margin-left: 65px;
} 

.footer {
  padding: 0 0 1rem 1rem;
  margin-top: auto;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}