@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  display: block;
  background-color: white;
}

.header p {
  display: inline-block;
  padding: 1rem;
}

.header p:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.text {
  font-weight: 500;
  font-size: 1.2rem;
}

p, a {
  text-decoration: none;
  color: black;
  margin: 0;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 5rem 1.6rem 1.6em 1.6rem;

}

@media only screen and (min-width: 600px) {
  .main {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    width: 33.3%;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    width: 25%;
  }
}

#name {
  margin-top: 1rem;
}

#introduction {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

#title-picture {
  width: 70%;
  height: 30%;
  border-radius: 50%;
}

.social-icons {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%
}

.icon {
  width: 1.5rem;
}

.icon:hover {
  transform: scale(1.2);
  opacity: 0.6;
}

.main-links {
  width: 100%;
  height: 100%;
}

#portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  background-image: url(images/portfolio.jpg);
  border-radius: .5rem;
  opacity: 0.8;
}

#portfolio p {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

#portfolio:hover {
  transform: scale(1.05);
  opacity: 0.6;
}

#map {
  margin-top: 2rem;
  height: 10rem;
  width: 100%;
}