@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
}

.header {
  z-index: 100;
  position: fixed;
  width: 100%;
  display: block;
}

.header p {
  display: inline-block;
  padding: 1rem;
}

.text {
  font-weight: 500;
  font-size: 1.2rem;
}

p, a {
  text-decoration: none;
  color: black;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  .main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 33.33%;
  }
}

@media only screen and (min-width: 1200px) {
  .main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
}

#name {
  margin-top: 1rem;
}

#introduction {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

#title-picture {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.social-icons {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%
}

.icon {
  width: 1.5rem;
}